/************************************/
/**** INDEX ****/
/************************************/

.topPart {
  background-color: black;
}

#youtubeIframe {
  margin: 20px auto 50px;
  display: block;
  width: 560px;
  height: 315px;
}

@media screen and (max-width: 660px) {
  #youtubeIframe {
    width: 100%;
  }
}

/************************************/
/**** ABOUT PAGE ****/
/************************************/

.aboutPage {
  max-width: 750px;
  font-size: larger;
  line-height: 1.5;
  text-align: justify;
}

.aboutPage a:link {
  text-decoration: none;
  color: #dd3030;
}
.aboutPage a:visited {
  color: #dd3030;
}
.aboutPage a:hover {
  font-size: xx-large;
}

/************************************/
/**** CONTACT PAGE ****/
/************************************/

.contactPage {
  max-width: 750px;
  font-size: large;
  line-height: 1.5;
  margin: 50px auto;
  display: block;
}

form input {
  width: 300px;
}

form textarea {
  width: 300px;
}

#sendMe {
  font-size: larger;
  color: #dd3030;
}

/************************************/
/**** EVENT PAGE ****/
/************************************/

.tourEvent {
  background-color: #444;
  border: 1px solid whitesmoke;
  padding: 15px;
  border-radius: 15px;
}
.tourEvent a {
  text-decoration: none;
  color: #dd3030;
}
